<!doctype HTML>
<html lang="en">
<%- include('layouts/header') -%>
<body class="heavy-rain-gradient">
<!--main body-->
<%- include('layouts/navBar') -%>
<main>
    <section>
        <div class="container">
            <div class="row justify-content-center align-items-center d-flex mx-auto flex-center text-center" style="height: 100vh;">
                <div class="col-md-12 pt-5">
                    <h1 class="mb-3 font-weight-bold mb-5 display-4">Courses Page</h1>
                    <%- include('data/courses-db') -%>
                </div>
            </div>
        </div>
    </section>
</main>
<!--main body-->
<%- include('layouts/footer') -%>
</body>
<!--scripts-->
<%- include('layouts/scripts') -%>
</html>